.tab-wrap {
  display: flex;
  margin: 10px 0;

  .tab {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;

    &.active {
      label {
        border-bottom: 4px solid #2589d0;
        color: #2589d0;
      }
    }

    > label {
      min-width: 100px;
      padding: 0.3em;
      background-color: #f2f2f2;
      text-align: center;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
      &.disabled {
        cursor: not-allowed;
      }
    }

    input {
      display: none;
    }
  }
}
