@use "./tab";

html, body, div,a, li, ul ,ol ,h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  max-width: 1199px;
  margin: 0 auto;

  .controls {
    margin-top: 10px;
    > div {
      display: inline-block;
      &.toggle-use-only {
        width: 200px;
      }
    }
  }
}

.table {
  ul {
    display: flex;
  }
  li:nth-child(1) {
    width: 200px;
  }
  li:nth-child(2) {
    width: 300px;
  }
}